@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

html{
	font-size: 62.5%;
}

.encabezado nav{
	height: 9rem;
	padding: 0rem 5rem;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.encabezado nav ol{
		display: inline-block;
	}

	.encabezado nav ol li{
		list-style: none;
		display: inline-block;
		margin-right: 5rem;
		margin-top: -2rem;
		height: 3rem;
	}

	.encabezado nav ol li a{
		font-size: 2rem;
		text-decoration: none;
		color: white;
	}

	.encabezado nav ol li a:hover{
		font-weight: 800;
		color: white;
	}

.pie {
	height: 10rem;
	padding: 0rem 3rem;
}

.pie article {
	display: flex;
	justify-content: space-between;
	align-items: ;
	padding-top: 2rem;
}

.pie article div a{
	width: 5.5rem;
}