/*@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');

*{
	font-family: 'EB Garamond', serif;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

.encabezado nav{
	background-color: #272276;
	height: 9rem;
	padding: 0rem 6rem;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.encabezado nav ol{
		display: inline-block;
	}

	.encabezado nav ol li{
		list-style: none;
		display: inline-block;
		margin-right: 50px;
		margin-top: -20px;
		height: 30px;
	}

	.encabezado nav ol li a{
		font-size: 2rem;
		text-decoration: none;
		color: white;
	}

	.encabezado nav ol li a:hover{
		font-weight: 800;
		color: white;
	}

.pie {
	background-color: #272276;
	height: 10rem;
	padding: 0rem 6rem;
	position: ;
	bottom: 0;
}

.pie section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: ;
	margin: 1rem;
}

.pieIcon{
	width: 55px;
}
*/