@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

html{
	font-size: 62.5%;
}

header,main,footer{
	font-weight: 400;
}

header{
	grid-area: header;
	background-color: #272276;
}

main{
	grid-area: main;
}

footer{
	grid-area: footer;
	background-color: #272276;
}

/*First Mobile*/

body{
	background-image: url(img/fondoprueba.jpg);
	background-attachment: fixed;
	/*background-color: #8e87f5;*/
}
.bgNav{
	background-color: #272276;
}

#linkNav{
	font-size: 1.5rem;
	text-decoration: none;
	color: white;	
}

#bgWhite{
	background-color: white;
}

.botonera{
	display: none;
}

.logoPpal{
	display: flex;
	justify-content: center;
}

.imgLogo{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 4rem;
	margin-bottom: 3rem;
}

.marginTop{
	margin-top: 2rem;
}

.marginBot{
	margin-bottom: 2rem;
}

h1{
	font-weight: 800;
	font-size: 3rem;
	text-shadow: 0px -2px 10px rgba(150, 150, 150, 1);
	background-color: #272276;
}

h2{
	font-weight: 600;
	font-size: 2rem;
	color: white /*#8e87f5*/;
	/*text-shadow: 0px -2px 10px rgba(150, 150, 150, 1);*/
	text-decoration: underline;
}

h3{
	font-weight: 400;
	font-size: 1.4rem;
	color: white;
	text-decoration: underline;
}

p{
	font-weight: 400;
	font-size: 1.5rem;
	padding-top: 1rem;
}

figcaption{
	font-weight: 500;
	font-size: 1.5rem;
}

section{
	margin-top: 13rem;
	margin-left: 0rem;
	margin-right: 0rem;
}


.textCenter{
	text-align: center;
}

.textWhite{
	color: white;
	font-size: 1.4rem;
}

.textBold{
	font-weight: 800;
}

.bgDark{
	padding: 0;
	margin: 0;
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(39,34,118,1) 50%);
}

.trioAreas{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}

.trioAreas figure p{
	display: none;
}

.trioAreas div ul li{
	font-size: 1.4rem;
}

.contactForm{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem 1rem;
}

.googleMap{
	width: 100%;
	height: 25rem;
	position: relative;
	margin: 1rem;
}

.googleMap iframe{
	position: absolute;
	width: 95%;
	height: 100%;
}


/*Media Queries*/

@media only screen and (min-width: 768px){

	.imgLogo{
		width: 50%;
	}

	.contenedor{
		display: flex;
    	justify-content: space-evenly
	}

	.contArea{
		display: block;
		flex-direction: column;
    	justify-content: space-evenly
	}

	.contactForm{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    margin: 1rem 2rem;
    width: 100%;
	}
	
	.trioAreas{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 2rem;
	}

	h1{
		font-size: 4rem;
	}

	h2{
		font-size: 2.3rem;
	}

	h3{
		font-size: 2rem;
	}

	p, figcaption{
		font-size: 2rem;
	}	

}

@media only screen and (min-width: 1024px){
	
	.burger{
		display: none;
	}

	.botonera{
		display: inline;
	}

	.contArea{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 2fr; /*210px*/
		grid-row-gap: 20px;
	}

	#trioUno{
		grid-column: 1/6;
	}

	#trioDos{
		grid-column: 2/7;
	}

}

